@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: 0.03em;

  font-family: Roboto;
  letter-spacing: 0.03em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}
